@page "/guests"

<PageTitle>guest</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>


@if (guestList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>UUID</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var guest in guestList)
            {
                <tr>
                    <td>@guest.Id</td>
                    <td>@guest.Name</td>
                </tr>
            }
        </tbody>
    </table>
}