@page "/login"

<PageTitle>Connexion</PageTitle>

<div class="login">
    <div class="d-flex justify-content-center">
        <EditForm Model="@Account" class="formCustom" OnSubmit=@ValidFormSubmitted>
            <div class="row">
                <InputText @bind-Value="Account!.Id" class="col customCol" id="inputEmail4" placeholder="Identifiant" />

            </div>
            <div class="row">
                <InputText @bind-Value="Account!.Secret" type="password" class="col customCol" id="inputPassword4" placeholder="Mot de passe" />

            </div>
            
            
            <button type="submit" class="customButton">Se connecter</button>
        </EditForm>
    </div>
</div>