<section>
    <div class="container__custom">
        <div class="carousel__custom">
            <input type="radio" name="slides" checked="checked" id="slide-1">
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            <input type="radio" name="slides" id="slide-4">
            <input type="radio" name="slides" id="slide-5">
            <input type="radio" name="slides" id="slide-6">
            <ul class="carousel__slides">
                <li class="carousel__slide">
                    <div>
                        <img src="https://i.ibb.co/9tBLz1R/PXL-20230821-102646022.jpg" alt="">
                    </div>
                </li>
                <li class="carousel__slide">
                    <div>
                        <img src="https://i.ibb.co/5L8qFBL/PXL-20230821-101437315.jpg" alt="">
                    </div>
                </li>
                <li class="carousel__slide">
                    <div>
                        <img src="https://i.ibb.co/pQMBQ67/PXL-20230821-101433417.jpg" alt="">
                    </div>
                </li>
                <li class="carousel__slide">
                    <div>
                        <img src="https://i.ibb.co/S7ZGcGm/PXL-20230821-101402090.jpg" alt="">
                    </div>
                </li>
                <li class="carousel__slide">
                    <div>
                        <img src="https://i.ibb.co/VYCBJZN/PXL-20230821-101356861.jpg" alt="">
                    </div>
                </li>
                <li class="carousel__slide">
                    <div>
                        <img src="https://i.ibb.co/Gpt2LrB/PXL-20230821-101354171.jpg" alt="">
                    </div>
                </li>
            </ul>
            <ul class="carousel__thumbnails">
                <li>
                    <label for="slide-1"><img src="https://i.ibb.co/k1zfkwY/PXL-20230821-102646022.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-2"><img src="https://i.ibb.co/JH7XQ5H/PXL-20230821-101437315.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-3"><img src="https://i.ibb.co/gdfLdb2/PXL-20230821-101433417.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-4"><img src="https://i.ibb.co/Hp93C3P/PXL-20230821-101402090.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-5"><img src="https://i.ibb.co/r2pyFSt/PXL-20230821-101356861.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-6"><img src="https://i.ibb.co/vqQPGMg/PXL-20230821-101354171.jpg" alt=""></label>
                </li>
            </ul>
        </div>
    </div>
</section>