<div class="footer fixed-bottom d-flex flex-wrap">
    <div class="timer col-7">
        <ul>
            <li><span id="days">@days</span>Jours</li>
            <li><span id="hours">@hours</span>Heures</li>
            <li><span id="minutes">@minutes</span>Minutes</li>
            <li><span id="seconds">@seconds</span>Secondes</li>
        </ul>
    </div>
        <div class="contact col-5">
        <ul>
            <li>alexandre.baptiste.etu@gmail.com</li>
            <li>07.78.31.17.61</li>
            <li>lea.francheteau@gmail.com</li>
            <li>07.78.31.17.61</li>
        </ul>
    </div>   
</div>

@code {
    private Timer? timer;
    private static DateTime tenthOfMay = new DateTime(2025, 5, 2);
    double days, hours, minutes, seconds;
    DateTime diff;

    private void SetClock(object state)
    {
        days = (tenthOfMay - DateTime.Now).Days;
        hours = 23 - DateTime.Now.Hour;
        minutes = 59 - DateTime.Now.Minute;
        seconds = 59 - DateTime.Now.Second;
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        SetClock(null);
        timer = new Timer(SetClock, new AutoResetEvent(false), 1000, 1000);
    }
}