footer {
    z-index: 1;
    background-color: #bc6c25;
    font-family: 'Montserrat' sans-serif;
    text-align: right;
    height: 10%;
    color: #fefae0;
    border-top: 4px solid #606c38;
}

ul {
    margin-top: -2.5%;
}

li {
    display: inline-block;
    font-size: 0.75rem;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
}

li span {
    display: block;
    font-size: 2.5rem;
}

@media all and (max-width: 700px) {
    .timer li {
        font-size: calc(0.75em * 0.70);
    }

    .timer li span {
        font-size: calc(2rem * 0.75);
    }

    li {
        font-size: calc(0.75em * 0.75);
    }

    li span {
        font-size: calc(2rem * 0.75);
    }

    footer {
        display: none;
    }
}