@inherits LayoutComponentBase

<PageTitle>Mariage de L&A</PageTitle>

<NavMenu />
<main class="main">
    <section class="section wrapper wrapper-section">
      @Body
   </section>    
</main>
<div class="footer">
    <Footer />
</div>
